	body{
		font-family: arial;
	}
	/*---------------
	Nav-bar content
	----------------*/
	.nav{
		background-color:#11787f ;
		padding: 10px;
	}
	.nav h1{
		display: inline;
		color: #eb5826;
	}
	.nav h3{
		display: inline;
		color: white;
		float: right;
	}

	.nav a{
		text-decoration: none;
		
	}
	
	/*------------------------*/