	body{
		font-family: arial;
	}
	/*---------------
	Nav-bar content
	----------------*/
	.nav{
		background-color:#11787f ;
		padding: 10px;
	}
	.nav h1{
		display: inline;
		color: #eb5826;
		line-height: 100%;
	}

	.nav h1:hover{
		color:white;
	}

	.nav h3{
		display: inline;
		color: #eb5826;
		float: right;
	}

	.nav h3:hover {
		color: white;
	}

	.nav a{
		text-decoration: none;
		
	}
	

	/*------------------------*/

	

	.login{
		margin-top: 18px;
		float: right;
	}
	.user{
		margin-top: 18px;
		padding-right: 5px;
		float: right;
	}

	.stages{
		display: inline;
	}

<<<<<<< HEAD
	.login{
		margin-top: 18px;margin-left: auto;
		padding-right: 5px;
		float: right;
	}
	.log{
		
		text-align: center;
		margin: 40px auto;
		width:400px;
		border:2px solid black;
		background-color: #4c9be5;
		padding: 10px;
		
=======
	table,tr{
		border-collapse: collapse;
		text-align: center;
>>>>>>> 6340f31a983493aa93f34ca856403f85f0ab1017
	}