	body{
		font-family: arial;
	}
	/*---------------
	Nav-bar content
	----------------*/
	.nav{
		background-color:#11787f ;
		padding: 10px;
	}
	.nav h1{
		display: inline;
		color: #eb5826;
		line-height: 100%;
	}

	.nav h1:hover{
		color:white;
	}

	.nav h3{
		display: inline;
		color: #eb5826;
		float: right;
	}

	.nav h3:hover {
		color: white;
	}

	.nav a{
		text-decoration: none;
		
	}
	

	/*------------------------*/

	/*User div*/

	.user{
		margin-top: 18px;
		float: right;
	}

	.stages{
		display: inline;
	}